.auth-footer {
  align-self: end;
  padding-bottom: 2rem;
}

.auth-footer__button {
  padding: 0;
  border: none;
  background: none;
  background-color: #3456f3;
  border-radius: 3px;
  color: white;
  padding: 1rem 5rem 1rem 5rem;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  width: 80vw;
  max-width: 400px;
}

.auth-footer__button:hover {
  cursor: pointer;
}

.auth-footer__button:active {
  opacity: 0.8;
}

.auth-footer__bottom-container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-auto-flow: column;
  gap: 1ch;
}

.auth-footer__bottom-text {
  color: #a0a0a0;
  font-size: 12px;
  line-height: 15px;
}

.auth-footer__bottom-link {
  font-size: 12px;
  line-height: 15px;
  color: #3456f3;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .auth-footer {
    padding-bottom: 14rem;
  }

  .auth-footer__button {
    font-size: 14px;
    line-height: 17px;
  }

  .auth-footer__bottom-text {
    font-size: 14px;
    line-height: 17px;
  }

  .auth-footer__bottom-link {
    font-size: 14px;
    line-height: 17px;
  }
}

@media screen and (min-width: 1024px) {
  .auth-footer {
    padding-bottom: 4rem;
  }
}
