.movies__separator {
  background-color: #e8e8e8;
  height: 1px;
  margin-top: 2.5rem;
  margin-right: 0.625rem;
  margin-left: 0.625rem;
}

.movies__load-button {
  padding: 0;
  border: none;
  background: none;
  margin-right: 0.625rem;
  margin-left: 0.625rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  width: calc(100% - (0.625rem * 2));
  background-color: #f9f9f9;
  border-radius: 6px;

  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  padding: 0.625rem;
}

.movies__load-button:hover {
  cursor: pointer;
}

.movies__load-button:active {
  opacity: 0.8;
}

@media screen and (min-width: 768px) {
  .movies {
    width: calc(100% - 60px);
  }

  .movies__separator {
    margin-top: 6.25rem;
    margin-right: unset;
    margin-left: unset;
  }
}

@media screen and (min-width: 1024px) {
  .movies__separator {
    margin-top: 4.375rem;
  }
}
