.auth-header {
  padding-bottom: 5rem;
}

.auth-header__logo img {
  padding-top: 3.5rem;
}

.auth-header__heading {
  padding-top: 3rem;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

@media screen and (min-width: 768px) {
  .auth-header {
    text-align: start;
  }

  .auth-header__logo {
    padding-top: 14rem;
  }
}

@media screen and (min-width: 1024px) {
  .auth-header {
    text-align: start;
    width: 80vw;
    max-width: 400px;
  }

  .auth-header__heading {
    padding-top: 40px;
  }

  .auth-header__logo {
    padding-top: 4rem;
  }
}
