.input {
  border: none;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 0.75rem;
  padding-top: 0.5rem;
  width: 80vw;
  max-width: 400px;
}

.input:focus {
  outline: none;
  border-bottom: 1px solid #b1b1b1;
}

.input__container {
  display: grid;
  text-align: start;
  justify-content: center;
}

.input__label {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;

  color: #a0a0a0;
}

.input__span {
  all: unset;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;

  line-height: 15px;
  margin-top: 5px;
  margin-bottom: 13px;
  min-height: 15px;
  display: block;

  color: red;
  width: 80vw;
  max-width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.input__container_alt {
  grid-template-columns: 50% 50%;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.input__label_alt {
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: black;
}

.input_alt {
  border: none;
  justify-self: end;
  text-align: right;
  font-size: 11px;
  line-height: 13px;
  width: unset;
}

.input_alt:focus {
  border: none;
}
