.modal {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
}

.modal:hover {
  cursor: pointer;
}

.modal__message {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  background-color: white;
  border-radius: 3px;
  padding: 8rem;
}

.modal__message:hover {
  cursor: default;
}
