.movies-search__search {
  background: #fdfdfd;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
  border-radius: 9px;
  padding: 1.5rem 1rem 1.5rem 1rem;
  margin-top: 5rem;
  margin-left: 0.625rem;
  margin-right: 0.625rem;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr min-content;
  justify-content: space-between;
}

.movies-search__input {
  border: none;
  background-color: transparent;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.movies-search__input:focus {
  outline: none;
}

.movies-search__button {
  border: none;
  background-color: #3456f3;
  color: white;
  border-radius: 48px;
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
}

.movies-search__button:hover {
  cursor: pointer;
}

.movies-search__button:active {
  opacity: 0.8;
}

.movies-search__toggle-container {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

.movies-search__toggle {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
  margin-right: 1rem;
}

.movies-search__toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.movies-search__toggle-round {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.movies-search__toggle-round::before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.movies-search__toggle input:checked + .movies-search__toggle-round {
  background-color: #2be080;
}

.movies-search__toggle input:focus + .movies-search__toggle-round {
  box-shadow: 0 0 1px #2be080;
}

.movies-search__toggle input:checked + .movies-search__toggle-round:before {
  transform: translateX(16px);
}

.movies-search__toggle-text {
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 18px;
}

@media screen and (min-width: 768px) {
  .movies-search {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: min-content;
    align-items: center;
    background: #fdfdfd;
    box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
    border-radius: 9px;
    margin-top: 4rem;
  }

  .movies-search__search {
    margin: 0;
    background: unset;
    box-shadow: unset;
    grid-template-columns: 1fr min-content min-content;
    padding: 1rem;
  }

  .movies-search__search::after {
    background-color: #cbcbcb;
    width: 1px;
    margin-left: 1rem;

    content: " ";
  }

  .movies-search__toggle-container {
    padding-right: 1rem;
    margin: 0;
  }
}
