.footer {
  display: grid;
  gap: 2rem;
  font-size: 12px;
  padding-top: 5rem;
  padding-bottom: 0.75rem;
}

.footer__edutext {
  color: #a0a0a0;
}

.footer__separator {
  background-color: #e8e8e8;
  height: 1px;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.footer__link-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.footer__link-item:not(:last-child) {
  margin-bottom: 1rem;
}

.footer__copyright {
  padding-top: 0.5rem;
  line-height: 15px;
  color: #a0a0a0;
}

.footer__link {
  color: black;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .footer {
    padding-left: 2rem;
    padding-right: 2rem;
    gap: 1.25rem;
    font-size: 13px;
    width: calc(100% - 4rem);
  }

  .footer__separator {
    margin-left: 0;
    margin-right: 0;
  }

  .footer__group {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .footer__copyright {
    color: black;
    font-size: 13px;
    line-height: 16px;
  }

  .footer__link-list {
    display: flex;
    align-items: end;
  }

  .footer__link-item:not(:last-child) {
    padding-right: 1.25rem;
    margin-bottom: 0;
  }
}
