.technologies {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 3rem;
}

.technologies__subheading {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 1.5rem;
}

.technologies__paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 16px;
  margin: 0;
  margin-bottom: 3rem;
}

.technologies__grid {
  list-style-type: none;
  margin-bottom: 4rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  padding: 0;
  padding-left: 1rem;
  padding-right: 1rem;
}

.technologies__grid-item {
  background-color: #e8e8e8;
  border-radius: 10px;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

@media screen and (min-width: 768px) {
  .technologies {
    padding-left: 3.125rem;
    padding-right: 3.125rem;
    padding-bottom: 3rem;
    background-color: #f5f5f5;
  }

  .technologies__subheading {
    font-size: 50px;
    line-height: 58px;
  }

  .technologies__paragraph {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 5rem;
  }

  .technologies__grid {
    grid-auto-flow: column;
    grid-template-columns: auto;
    grid-template-rows: 1fr;
    gap: 0.5rem;
  }

  .technologies__grid-item {
    height: 3.5rem;
  }
}
