.section__heading {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: start;
  margin: 0;
  margin-top: 4.375rem;
  margin-bottom: 1.75rem;
}

.section__separator {
  background-color: #000000;
  height: 1px;
  margin-bottom: 3.75rem;
}

@media screen and (min-width: 768px) {
  .section__heading {
    font-size: 22px;
    line-height: 27px;
  }
}
