.not-found {
  display: grid;
  height: 100vh;
}

.not-found__container {
  align-self: end;
}

.not-found__heading {
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 97px;
  margin: 0;
  padding-bottom: 1rem;
}

.not-found__subheading {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  margin: 0;
}

.not-found__link {
  all: unset;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #3456f3;
  text-decoration: none;
  align-self: end;
  padding-bottom: 2rem;
}

.not-found__link:hover {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .not-found__heading {
    font-size: 140px;
    line-height: 169px;
  }

  .not-found__subheading {
    font-size: 16px;
    line-height: 19px;
  }

  .not-found__link {
    align-self: center;
  }
}

@media screen and (min-width: 1024px) {
  .not-found__link {
    padding-bottom: 3.75rem;
    align-self: end;
  }
}
